

.isearch {
    position: absolute;
    top: 50%;
    
}

.iradio {
    margin: 10px;
}

.iregister {

    padding-top: 300px;
}

.img-about {
    padding-top: 60px;
}

.padding-10 {
    padding-top: 10px;
}

.padding-20 {
    padding-top: 20px;
}



